{% extends "layout.html" %}

{% block heading %}
    First Flask Page!
{% endblock %}

{% block body %}
    <p>
        The news  portal of the present withing a past look and feel. Take your cup of coffee and get to know what is happening around your globe like you were on a terminal. Omelette. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce placerat rutrum nisi at pellentesque. Fusce orci magna, pulvinar ut ultricies id, feugiat eu elit. Nam molestie eu lacus eu fermentum. Fusce eleifend tempus sapien eu maximus. Donec lobortis dapibus magna, quis facilisis velit malesuada a. Nunc iaculis augue nulla, sed sodales dui volutpat lacinia.
    </p>

    <a href="{{ url_for('more') }}">See more...</a>
{% endblock %}
