{% extends "layout.html" %}

{% block heading %}
    Technology Articles
{% endblock %}

{% block body %}
    <p>
        Donec lobortis dapibus magna, quis facilisis velit malesuada a. Nunc iaculis augue nulla, sed sodales dui volutpat lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam non lorem eget augue auctor feugiat at ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec lectus eget diam tempor aliquam sit amet sed augue.
    </p>
       <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">Nikon phases out 1 series mirrorless cameras</a></h2>
<img src="/static/images/nikon.jpg" alt="Art1" width="100%" height="auto"> 
                    <p>Nikon's 1 series mirrorless cameras never quite set the world on fire, and now it looks like they're on the way out...
<a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/magic-leap-headset-arrives-this-summer/">Magic Leap's mixed reality headset arrives this summer</a></h2>
<img src="/static/images/dims.jpg" alt="Art2" width="100%" height="auto"> 
                    <p>Magic Leap is finally providing more tangible details about the launch of its mixed reality headset. During a developer chat on Twitch, the company revealed that the Creator Edition of its One headset should be available sometime later this summer.
<a href="https://www.engadget.com/2018/07/11/magic-leap-headset-arrives-this-summer/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">Nikon phases out 1 series mirrorless cameras</a></h2>
                    <p>Nikon's 1 series mirrorless cameras never quite set the world on fire, and now it looks like they're on the way out...
<a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">Nikon phases out 1 series mirrorless cameras</a></h2>
                    <p>Nikon's 1 series mirrorless cameras never quite set the world on fire, and now it looks like they're on the way out...
<a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">more...</a></p>
                </div>
            </div>
        </div>
    <a href="{{ url_for('index') }}">Go back</a>
{% endblock %}

