{% extends "layout.html" %}

{% block heading %}
    Technology Articles
{% endblock %}

{% block body %}
    <p>
        Donec lobortis dapibus magna, quis facilisis velit malesuada a. Nunc iaculis augue nulla, sed sodales dui volutpat lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam non lorem eget augue auctor feugiat at ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec lectus eget diam tempor aliquam sit amet sed augue.
    </p>
       <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">Nikon phases out 1 series mirrorless cameras</a></h2>
<img src="/static/images/nikon.jpg" alt="Art1" width="100%" height="auto"> 
                    <p>Nikon's 1 series mirrorless cameras never quite set the world on fire, and now it looks like they're on the way out.
<a href="https://www.engadget.com/2018/07/11/nikon-drops-1-series-mirrorless-cameras/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://www.engadget.com/2018/07/11/magic-leap-headset-arrives-this-summer/">Magic Leap's headset this summer</a></h2>
<img src="/static/images/dims.jpg" alt="Art2" width="100%" height="auto"> 
                    <p>Magic Leap is finally providing more tangible details about the launch of its mixed reality headset.
<a href="https://www.engadget.com/2018/07/11/magic-leap-headset-arrives-this-summer/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://newsroom.intel.com/press-kits/quantum-computing/">Intels 49-QUBIT Processor</a></h2>
                    <img src="https://i.blogs.es/094557/0a2a0185_ret/1366_2000.jpg" alt="Art2" width="100%" height="auto"> 
                    <p>Quantum computing is an exciting new computing paradigm with unique problems to be solved.
<a href="https://newsroom.intel.com/press-kits/quantum-computing/">more...</a></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2><a href="https://kano.me/store/us/products/coding-wand">Kano helps you teach programming to children</a></h2>
    <img src="https://static.kano.me/assets/images/product-page/coding-wand/header/header-image-4-mobile@2x.jpg" alt="Art2" width="100%" height="auto"> 
                    <p>Nikon's 1 series mirrorless cameras never quite set the world on fire, and now it looks like they're on the way out.
<a href="https://kano.me/store/us/products/coding-wand">more...</a></p>
                </div>
            </div>
        </div>
    <a href="{{ url_for('index') }}">Go back</a>
{% endblock %}

